<!-- voter_analytics/templates/voter_analytics/graphs.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/31/2025 -->
<!-- Description: template to render graphs corresponding to the Voters that
 are in context. -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="row">
    {% include "voter_analytics/search_graph.html" %}
</div>

<!-- Render a graph about the year of birth distribution amongst Voters -->
<div class="container">
    <div class="row">
        {{graph_year_distribution|safe}}
    </div>
</div>

<!-- Render a graph for the number of Voters who voted in each election -->
<div class="container">
    <div class="row">
        {{graph_election_count|safe}}
    </div>
</div>

<!-- Render a graph showing the distribution of Voters in each party -->
<div class="container">
    <div class="row">
        {{graph_party_affiliation|safe}}
    </div>
</div>
{% endblock %}