/* This CSS was derived from NetNinja's multi-column grid example. */

body {
    /* margin: 30px; */
    margin: 0;
    background: #121212;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-profiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0 10px;
    place-items: center;
}

.grid-songs-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 10px;
    place-self: center;
    place-items: center;
    row-gap: 20px;
    margin: 10px;
    padding: 10px;
    /* padding-bottom: 25px; */
    background-color: #181c1f;
    border-radius: 8px;
}

.dark-button {
    height: 25px; 
    color: #717171; 
    background-color: inherit; 
    font-family: inherit;
}

.add-left-space {
    padding-left: 10px;
}

ul, li {
    padding: 0px;
    list-style-type: none;
}

h1, h2, h3, h4, p, a {
    color: whitesmoke;
}

header {
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}

.grid-container {
    max-width: 900px;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
    max-width: 1200px;
    margin: 40px auto;
}

.single-grid-container {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
    max-width: 600px;
    margin: 40px auto;
}

.posts-grid-container {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(4, 1fr);
     grid-gap: 15px;
    max-width: 90%;
    margin: 20px auto;
}

.posts-grid-container img {
    min-height: 300px; 
    max-height: 300px;
}

.post-container {
    max-width: 450px; 
    max-height: auto; 
    margin: auto;
}

.post-container img {
    margin-bottom: 10px;
}

.profile {
    position: relative;
    text-align: center;
    display: block;
}

.profile img {
    max-width: 100px; 
    height: 100px;
    border: 1px solid #fff;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.user-info {
    margin-right: 50px;
}

.user-info h2 {
    margin-bottom: 0px;
}

.user-info p, h4 {
    /* text-align: center; */
}

article.featured {
    grid-column: span 3;
    display: grid; /* nested grid */
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px #bbc7c7;
    padding-bottom: 10px;
}

img {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 8px;
}
article p, article h3 {
    margin: 0px;
}

nav li {
    display: inline;
}

form {
    color: whitesmoke;
}
/* responsive styles: adapt to smaller screen sizes */
@media screen and (max-width: 980px) {

    article {
        grid-column: span 3;
        display: grid; /* nested grid */
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {

    article, article.featured {
        
        display: block; 
        margin: 0px 20px;
    }
}
