<!-- project/templates/project/base.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 12/9/2025 -->
<!-- Description: template that renders the base elements of project app -->

{% load static %}

<html>
    <head>
        <title>Project</title>
        <link rel="stylesheet" href="{% static 'project-styles.css' %}">
    </head>
    <body>
        <!-- Delegate header to respective template, add content underneath -->
        {% include "project/header.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>