<!-- project/templates/project/landing_page.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 12/9/2025 -->
<!-- Description: HTML template that renders the landing page -->

{% extends 'project/base.html'%}

{% block content %}
<div class="add-left-space">
    <h1>Muse</h1>
    <h4>This is an online audio streaming service. By me, olu.</h4>
</div>
<hr>


    <!-- for loop to load each profile stored in the mini_insta database -->
    <div class="grid-profiles-container">
        {% for profile in profiles %}
        <div style="width: 175px;">
            <a href="{% url 'show_profile' profile.pk %}">
            <img style="height: 150px; width: 150px; border-radius: 100px;" 
            src="{{profile.profile_image_url}}" alt="profile image"/>
            <p>{{profile.username}}</p>
            </a>
            <p style="color: #717171">{{profile.bio_text}}</p>
        </div>
        {%endfor%}
    </div>
{% endblock %}