<!-- project/show_all_songs.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 11/20/2025 -->
<!-- Description: HTML template that renders the page that shows all Profile
 records. -->
{% extends 'project/base.html' %}

{% block content %}
<!-- creates a table to store the profiles in -->
<main class="grid-container">
    <!-- for loop to load each profile stored in the mini_insta database -->
    {% for song in songs %}
    <div>
        <a href="{% url 'show_song' song.pk %}">
        <p>{{song.name}}</p>
        </a>

        {% if song.audio_file %}
            <audio controls>
                <source src="{{song.audio_file.url}}" type="audio/wav">
            </audio>
        {% else %}
            <p>No audio.</p>
        {% endif %}
    </div>
    {%endfor%}
</main>
{% endblock %}