<!-- project/templates/project/update_profile_form.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 12/9/2025 -->
<!-- Description: HTML template that renders the update profile form -->
{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<div class="add-left-space">
    <h1>Update Profile</h1>

    <!-- Update profile form -->
    <form method="POST" action="{% url 'update_profile' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input class="dark-button" type="submit" name="submit" value="Update"/>
    </form>

    <!-- Return to profile page -->
    <a href="{% url 'show_profile' profile.pk %}">
        <button class="dark-button">Cancel</button>
    </a>
</div>

{% endblock %}