<!-- project/templates/project/update_profile_form.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 11/24/2025 -->
<!-- Description: HTML template that renders the update profile form -->
{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<h1>Update Profile</h1>

<!-- Update profile form -->
<form method="POST" action="{% url 'update_profile' %}">
    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" name="submit" value="Update" />
</form>

<!-- Return to profile page -->
<a href="{% url 'show_profile' profile.pk %}"><button>Cancel</button></a>

{% endblock %}