<!-- File: restaurant/templates/restaurant/confirmation.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 9/13/2025 -->
<!-- Description: HTML template that renders the confirmation page that shows
 after submitting an order on the restaurant website -->

{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
    <h2>Order Confirmation</h2>
    
    <p>Thank you for your order {{name}}, your order is confirmed!</p>

    <h3>Order Details:</h3>
    <p>
    Items: <br>
    {% for item in items %}
    {{item}} <br>
    {% endfor %} <br>
    Price: {{price}}
    </p>

    <p>Your order will be ready at: <strong>{{order_time}}</strong></p>

    <h3>Customer Information: </h3>

    <p>
    Name: {{name}} <br>
    Phone: {{phone}} <br>
    Email: {{email}}
    </p>

    <h3>Special Instructions:</h3>
    <p>{{special_instructions}}</p>
{% endblock %}