<!-- File: restaurant/templates/restaurant/main.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 9/13/2025 -->
<!-- Description: HTML template that renders the main page of the restaurant
  website -->

{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
    <p>Main Page</p>
    <p>Location: 123 Number Street, Boston, Massachusetts</p>
    <p>Hours of Operation:
        <ul>
            <li>Monday - Friday: 10 AM - 10 PM</li>
            <li>Saturday - Sunday: 10 AM - 6 PM </li>
        </ul>
    </p>

{% endblock %}