<!-- quotes/templates/quotes/about.html -->

{% extends 'quotes/base.html' %}
{% load static %}

{% block content %}
   <h2>About this Site</h2>

   <p>This is a collection of quotes said by and images taken of world-class boxer, Muhammad Ali.</p>

   <p>Born Cassius Marcellus Clay Jr., Muhammad Ali was a world-renown boxer who competed in the Heavyweight
    division. Over the course of his 18 year activity, Ali amassed 56 wins, 37 of those coming by way of knockout, 
    and 5 losses; ending his career a three-time heavyweight champion and Olympic gold medalist. In addition to his prowess in 
    the boxing ring, Ali was characterized by his large personality and commitment to social justice, often making 
    use of his platform to advocate for civil rights and against American imperialism.
   </p>
{% endblock %}