<!-- File: quotes/templates/quotes/base.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 9/9/2025 -->
<!-- Description: HTML template that renders the base elements of the 
 quote of the day website -->

{% load static %} 
<html>
    <head>
        <title>Muhammad Ali: Quote of the Day</title>

        <!-- Apply css styling from quotes-styles.css -->
        <link rel="stylesheet" href="{% static 'quotes-styles.css' %}">
    </head>
    <body>
        <h1>Muhammad Ali: Quote of the Day</h1>
        <nav>
            <li><a href="{% url 'main_page'%}">Quote of the Day</a></li>
            <li><a href="{% url 'show_all' %}">All Quotes</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </nav>

    {% block content %}
    {% endblock %}
    </body>
    <footer>
        The current time is {{time}}. <br>
        This page was created by Oluwatimilehin Akibu (akilu@bu.edu).
    </footer>
</html>