<!-- mini_insta/base.html -->
{% load static %}

<html>
    <head>
        <title>Mini-Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta-styles.css' %}">
    </head>
    <body>
        <!-- Displays the profile username if looking at a specific profile -->
        {% if profile.username %}
            <h1>Mini-Insta: @{{profile.username}}</h1>
        {% else %}
            <h1>Mini-Insta</h1>
        {% endif %}
        <hr size="1">

        {% block content %}
        {% endblock %}
    </body>
    <hr size="1">
    <footer>
        <a href="{% url 'show_all_profiles' %}">Return to ListView</a>
    </footer>
</html>