<!-- mini_insta/base.html -->
{% load static %}

<html>
    <head>
        <title>Mini-Insta</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <head>
            <h1>Mini-Insta</h1>
            <hr size="1">
        </head>
        <!-- substitute specific content here -->
        {% block content %}
        {% endblock %}
    </body>
    <hr size="1">
    <footer>
        <a href="{% url 'show_all_profiles' %}">Return to ListView</a>
    </footer>
</html>