<!-- mini_insta/templates/mini_insta/create_post_form.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/10/2025 -->
<!-- Description: HTML template that renders the create post page that shows
 after clicking the create a post button on some profile. -->
{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
<h1>Create a new Post</h1>

<form method="POST" action="{% url 'create_post' profile.pk %}"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_table}}
    <input multiple type="file" name="files" /> <br>
    <br>
    <input type="submit" name="submit" value="Post" />
</form>
<a href="{% url 'show_profile' profile.pk %}"><button>Cancel</button></a>

{% endblock %}