<!-- mini_insta/templates/mini_insta/search.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/17/2025 -->
<!-- Description: HTML template that renders the search form -->
{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
<h1>Search</h1>

<form method="GET" action="{% url 'search' profile.pk %}">
    {% csrf_token %}
    Search for text, tags, or people: <br>
    <input type="text" name="query"/>
    <input type="submit" name="submit" value="Search" />
</form>
{% endblock %}