<!-- mini_insta/show_feed.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/17/2025 -->
<!-- Description: HTML template that renders the page that shows a Profile's
 feed of Posts. -->
{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
<!-- displays each post in the profile's feed -->
{% for post in profile.get_post_feed %}
    <div class="post-container">
        <p>@{{post.profile.username}}</p>
        <img style="width: 100px;" src="{{post.profile.profile_image_url}}" />
        <a href="{% url 'show_post' post.pk %}">
            {% if post.get_all_photos.first %}
                <img src="{{post.get_all_photos.first.get_image_url}}" />
            {% else %}
                <img src="{% static 'no_image_available.png' %}"/>
            {% endif %}
            <div>
                <p>{{post.caption}}</p>
                <p>{{post.timestamp}}</p>
            </div>
        </a>
    </div>
{% endfor %}
{% endblock %}