<!-- mini_insta/show_all.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid-container">
    <!-- scriplet code for a for loop, CHANGE THIS -->
    {% for profile in profiles %}
    <div style="position: relative; text-align: center; display: block;">
        <div style="position: relative;">
            <h2>@{{profile.username}}</h2>
            <h3>{{profile.display_name}}</h3>
        </div>
        <a href="{% url 'show_profile' profile.pk %}">
        <img style="width: 100px; height: 100px; border: 1px solid #fff;" src="{{profile.profile_image_url}}">
        </a>
    </div>
    {%endfor%}
</main>
{% endblock %}