<!-- mini_insta/show_followers.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/17/2025 -->
<!-- Description: HTML template that renders the page that shows all followers
 for the profile in context. -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<!-- creates a table to store the profiles in -->
<h2>@{{profile.username}}'s followers:</h2>
<main class="grid-container">
    <!-- for loop to load each profile that follows the profile in context -->
    {% for profile in profile.get_followers %}
    <div class="profile">
        <div>
            <h2>@{{profile.username}}</h2>
            <h3>{{profile.display_name}}</h3>
        </div>
        <a href="{% url 'show_profile' profile.pk %}">
        <img src="{{profile.profile_image_url}}">
        </a>
    </div>
    {%endfor%}
</main>
{% endblock %}