<!-- mini_insta/show_following.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/17/2025 -->
<!-- Description: HTML template that renders the page that shows all of the
 Profiles that the Profile in context is following. -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<!-- creates a table to store the profiles in -->
<h2>@{{profile.username}}'s following:</h2>
<main class="grid-container">
    <!-- for loop to load each profile followed by the profile in context -->
    {% for prof in profile.get_following %}
    <div class="profile">
        <div>
            <h2>@{{prof.username}}</h2>
            <h3>{{prof.display_name}}</h3>
        </div>
        <a href="{% url 'show_profile' prof.pk %}">
        <img src="{{prof.profile_image_url}}">
        </a>
    </div>
    {%endfor%}
</main>
{% endblock %}