<!-- mini_insta/show_following.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/10/2025 -->
<!-- Description: HTML template that renders the page that shows all of the
 Profiles that the Profile in context is following. -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<!-- creates a table to store the profiles in -->
<main class="grid-container">
    <!-- for loop to load each profile followed by the profile in context -->
    {% for profile in profile.get_following %}
    <div class="profile">
        <div>
            <h2>@{{profile.username}}</h2>
            <h3>{{profile.display_name}}</h3>
        </div>
        <a href="{% url 'show_profile' profile.pk %}">
        <img src="{{profile.profile_image_url}}">
        </a>
    </div>
    {%endfor%}
</main>
{% endblock %}