<!-- mini_insta/show_all.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/17/2025 -->
<!-- Description: HTML template that displays a Post record and its Photos -->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}

<!-- creates a table to store the information of the current profile -->
<h3>Post by @{{post.profile.username}}</h3>
<div class="post-container">
    <!-- Display post's associated photos, otherwise display default img -->
    {% if post.get_all_photos.first %}
        {% for photo in post.get_all_photos %}
            <img src="{{photo.get_image_url}}" />
        {% endfor %}
    {% else %}
        <img src="{% static 'no_image_available.png' %}"/>
    {% endif %}
    <div>
        <p>Liked by {{post.get_likes|length}}</p>
        <p>{{post.caption}}</p>
        {% for comment in post.get_all_comments %}
            <p>@{{comment.profile.username}}: {{comment.text}}</p>
        {% endfor %}
        <p>{{post.timestamp}}</p>
        <a href="{% url 'update_post' post.pk %}">Update Post</a>
        <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
    </div>
</div>
{% endblock %}