<!-- mini_insta/show_all.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}

<!-- creates a table to store the information of the current profile -->
<main class="single-grid-container">
    <div>
        <div class="flex-row">
            <img src="{{profile.profile_image_url}}"/>
            <div>
                <div class="flex-row">
                    <div class="user-info">
                        <h2>Posts</h2>
                        <p>TBD</p>
                    </div>
                    <div class="user-info">
                        <h2>Followers</h2>
                        <p >TBD</p>
                    </div>
                    <div class="user-info">
                        <h2>Following</h2>
                        <p>TBD</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>{{profile.bio_text}}</p>
            <p>{{profile.join_date}}</p>
        </div>
    </div>
</main>
{% endblock %}