<!-- mini_insta/show_profile.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/10/2025 -->
<!-- Description: template that renders information (Posts & Photos) associated
 with one Profile. -->

{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}

<!-- creates a table to store the information of the current profile -->
<main class="single-grid-container">
    <div>
        <div class="flex-row">
            <img src="{{profile.profile_image_url}}"/>
            <div>
                <div class="flex-row">
                    <div class="user-info">
                        <h2>Posts</h2>
                        <h4>{{profile.get_all_posts|length}}</h4>
                    </div>
                    <div class="user-info">
                        <h2>Followers</h2>
                        <h4>{{profile.get_num_followers}}</h4>
                    </div>
                    <div class="user-info">
                        <h2>Following</h2>
                        <h4>{{profile.get_num_following}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>{{profile.bio_text}}</p>
            <p>{{profile.join_date}}</p>
            <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
        </div>
    </div>
</main>

<h1>Posts</h1>
<hr size="1">

<main class="posts-grid-container">
<!-- for loop to load all the posts associated with a profile -->
{% for post in profile.get_all_posts %}
    <div>
        <a href="{% url 'show_post' post.pk %}">
            {% if post.get_all_photos.first %}
                <img src="{{post.get_all_photos.first.get_image_url}}" />
            {% else %}
                <img src="{% static 'no_image_available.png' %}"/>
            {% endif %}
            <div>
                <p>{{post.caption}}</p>
                <p>{{post.timestamp}}</p>
            </div>
        </a>
    </div>
{% endfor %}
</main>
{% endblock %}