<!-- mini_insta/templates/mini_insta/update_profile_form.html -->
<!-- Author: Oluwatimilehin Akibu (akilu@bu.edu), 10/17/2025 -->
<!-- Description: HTML template that renders the update profile form -->
{% extends 'mini_insta/base.html' %}
{% load static %}

{% block content %}
<h1>Update Profile</h1>

<form method="POST" action="{% url 'update_profile' %}">
    {% csrf_token %}
    {{form.as_table}}
    <input type="submit" name="submit" value="Update" />
</form>
<a href="{% url 'show_profile' profile.pk %}"><button>Cancel</button></a>

{% endblock %}